{% extends "app_note/base.html" %}
<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'static/app_note/css/note.css' %}">
<title>Заметки</title>
</head>
{% block content %}
<form action="{% url 'note_search' %}" method="GET" class="get-form">{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="save btn btn-default">Поиск</button>
</form>
<a href="{% url 'uploads' %}">Загрузить запись</a>
<br><a href="{% url 'add_note' %}">Добавить заметку</a></br>
{% if note_list %}
<ul>
{% for note in note_list %}
<li><td align="left"><a href="/note/{{ note.id }}">{{ note.title }}</a></td>
    <br><td align="left">{{ note.text|truncatechars:30 }}</td></br>
</li>
{% endfor %}
</ul>
<p>{% trans 'Translated text.' %}</p>
{% else %}
<p>Новостей нет.</p>
{% endif %}
{% endblock %}
</html>
